<?php

/* {name}.php */

class Migration_{name} extends Migration_base {

	/* example up function */
	public function up() {
		$this->dbforge->add_field([
			'blog_id' => [
				'type' => 'INT',
				'constraint' => 5,
				'unsigned' => TRUE,
				'auto_increment' => TRUE
			],
			'blog_title' => [
				'type' => 'VARCHAR',
				'constraint' => '100',
			],
			'blog_description' => [
				'type' => 'TEXT',
				'null' => TRUE,
			],
		]);

		$this->dbforge->add_key('blog_id', TRUE);

		$this->dbforge->create_table('blog');
		
		return true;
	}

	/* example down function */
	public function down() {
		$this->dbforge->drop_table('blog');
		
		return true;
	}

} /* end migration */
